

<form  method="POST" action="/Add">
    <label for="EnableFCM">EnableFCM</label><br>
    <input type="text" name="EnableFCM" ><br>
    <label for="Avatar">Avatar</label><br>
    <input type="text" name="Avatar" ><br>
    <label for="Banner">Banner</label><br>
    <input type="text" name="Banner" ><br>
    <label for="Fullname">Fullname</label><br>
    <input type="text" name="Fullname" ><br>
    <label for="TypeUser">TypeUser</label><br>
    <input type="text" name="TypeUser" ><br>
    <label for="IdProvince">IdProvince</label><br>
    <input type="text" name="IdProvince" ><br>
    <input type="submit" value="them">
    </form>